img.Artwork {
    max-width: 100%;
    max-height:100%;
    transition: all 2s ease;
    -webkit-box-shadow: 0px 2px 6px rgba(30,30,30,0.4);
    -moz-box-shadow: 0px 2px 6px rgba(30,30,30,0.4);
    box-shadow: 0px 2px 6px rgba(30,30,30,0.4);
}

.dimmed {
    -webkit-filter:brightness(30%);
    -moz-filter:brightness(30%);
    filter: url(#brightness); /* required for FF */
    filter:brightness(30%);
}

.Track {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.1s ease;
    height: 200px;
    width: 200px;
    display: inline-block;
    background: black;
}

.BigTrack {
    cursor: default;
    height: 300px;
    width: 300px;
}

.Track.TrackPos-0 {
    top: 0px;
    left: 0px;
}

/* .SmallTrack:hover {
    height: 208px;
    width: 208px;
} */

.Track.TrackPos-0:hover {
    top: -4px;
    left: -4px;
}

.Track.TrackPos-1 {
    top: 0px;
    left: 220px;
}

.Track.TrackPos-1:hover {
    top: -4px;
    left: 216px;
}

.Track.TrackPos-2 {
    top: 0px;
    left: 440px;
}

.Track.TrackPos-2:hover {
    top: -4px;
    left: 436px;
}

.Track.TrackPos-3 {
    top: 220px;
    left: 0px;
}

.Track.TrackPos-3:hover {
    top: 216px;
    left: -4px;
}

.Track.TrackPos-4 {
    top: 220px;
    left: 220px;
}

.Track.TrackPos-4:hover {
    top: 216px;
    left: 216px;
}

.Track.TrackPos-5 {
    top: 220px;
    left: 440px;
}

.Track.TrackPos-5:hover {
    top: 216px;
    left: 436px;
}

.TrackDetails {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
    width: 80%;
}

.TrackArtist {
    color: #A8A8A8;
    transition: all 2s ease;
}

.TrackName {
    transition: all 2s ease;
}

.invisible {
    opacity: 0;
    cursor: default;
    transition: all 0.1s ease;
}