.ResultsPageContents {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.ResultsText {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
    opacity: 0;
}

h1.ScoreTitle {
    font-size: 3em;
    margin: 0;
}

.ScoreDetails {
    /* margin-top: 20px; */
    margin: 20px auto;
    font-size: 1.1em;
}

.ResultsButtons {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
}

.TryAgain {
    display: inline-block;
    align-self: center;
    margin-left: 35px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0;
}

.ShareButton {
    transition: all 0.2s ease;
    opacity: 0;
}

.visible {
    opacity: 1;
}